/eval/
/results/
/words/
/data/
/attic/
/eval.txt
__pycache__/
*.egg-info/
/.snakemake/
/pip-wheel-metadata/
*.oldon.????????/
*.oldon.????????.????/
/default_filepath.pdf
/enwiktionary-????????.????????.db
